/*
 * animations css stylesheet
 */

/*.view-animate-container {
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}

.view-animate {
  padding: 0px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  padding: 10px;
}

.view-animate.ng-enter {
  top: -5000px;
}
.view-animate.ng-enter.ng-enter-active {
  top: 0;
}

.view-animate.ng-leave {
  top: 0;
}
.view-animate.ng-leave.ng-leave-active {
  top: 5000px;
}*/





